# .env.example
PROGRAM_ID=REPLACE_WITH_PROGRAM_ID
MINT_ADDRESS=REPLACE_WITH_MINT
SALE_PDA=REPLACE_WITH_SALE_PDA
TREASURY_ADDRESS=REPLACE_WITH_TREASURY_ADDR
SQUADS_PUBKEY=REPLACE_SQUADS_PUBKEY
KEYPAIR=REPLACE_WITH_KEYPAIR_PATH
NEXT_PUBLIC_CLUSTER=REPLACE_WITH_CLUSTER_URL
NEXT_PUBLIC_MINT_ADDRESS=REPLACE_WITH_MINT
NEXT_PUBLIC_SALE_ADDRESS=REPLACE_WITH_SALE_PDA
NEXT_PUBLIC_BASE_PRICE_LAM=50000
NEXT_PUBLIC_K_LAM=10
